/***
* author : Allan Latruffe
* description : StyleSheet for the Booki's website.
***/

body, html {
    background-color: #ffffff; 
}

/* Create grid */
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 55px;
    padding-right: 55px;
    margin-top: 0px;
    max-width: 1400px; /* Permet le breakpoint max demandé */
}

.row, .row>div {
    display: flex;
    flex-wrap: wrap;
}

.col-1 {
    width: 8.3333%;
}

.col-2 {
   flex: 0 0 auto;
   width: 16.6666%;
}

.col-3 {
    flex: 0 0 auto;
    width: 24.99%;
}

.col-4 {
    flex: 0 0 auto;
    width: 33.33%;
}

.col-5 {
    flex: 0 0 auto;
    width: 41.65%;
}

.col-6 {
    flex: 0 0 auto;
    width: 50%;
}

.col-7 {
    flex: 0 0 auto;
    width: 58.33%;
}

.col-8 {
    flex: 0 0 auto;
    width: 66.66%;
}

.col-9 {
    flex: 0 0 auto;
    width: 74.99%;
}

.col-10 {
    flex: 0 0 auto;
    width: 83.32%;
}

.col-11 {
    flex: 0 0 auto;
    width: 91.50%;
}

.col-12 {
    flex: 0 0 auto;
    width: 100%;
 }


/* Nav */

nav {
    width: 100%;
}

.listNavigation {
    margin-top: 0px;
    list-style: none;
    padding: 0px !important;
    display: flex; 
    justify-content: space-between;
}

.elementList {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    text-align: center;

    /* Blue */
    

    padding-top: 46px;
    min-width: 160px;
    border-top: #ffffff00 solid 2px;

    display: flex;
    justify-content: center;
    align-items: center;
} 

.elementList > a {
    text-decoration: none !important;
    color: #000;
}

.elementList > a:hover , .elementListActive > a {
    color: #0065FC !important;
}

.elementList:hover, .elementListActive {
    border-top: #0065FC solid 2px;
}



/* LogoType */

#logoHeader {
    padding-top: 44px;
}

#mainLogo { 
    max-width: 61px;
    height: 19px;
}



/* Font type */

.h1 {
    padding-top: 63px;
    margin:0px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700 !important;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
}

.h2 {
    padding-top: 8px;
    margin: 0px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

i {
    color: #000;
}


/* Form */

#formSearch {
    margin: 0px;
    padding-top: 20px;
}

#searchBar label{
    font-size: 18px;
    background-color: #F2F2F2;
    padding: 16px 18px 15px 18px;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
}

#searchBar input[type="text"] {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px !important;
    line-height: 21px;
    text-align: center;
    border: 1px solid #F2F2F2;
    color: #000000;
    min-width: 235px;
    appearance: none;
}

#searchBar input[type="submit"] {
    padding: 15px 16px;
    background: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;

}

::placeholder {
    color: #000;
    text-align: start;
    padding-left: 10px;
}

/* area filtre */
#filtres {
    margin-top: 36px;
}

input[type="checkbox"].inputFiltre {
    display: none;
}

input[type="checkbox"].inputFiltre + label {
    border: 1px solid transparent;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    padding: 14px 20px;
}


input[type="checkbox"].inputFiltre:checked + label {
    background: #DEEBFF;
}

#searchForm label {
    color: #000;
    text-transform: capitalize;
}
/* Filtre area */
#filtres {
    flex-direction: row;
    width: 100%;
}

#filtres label i {
    color: #0065FC;
    margin-right: 10px;
}

#filtreTitles > p {
    margin: 0px;
    display: inline;
}

#filtreTitles {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #000000;
    margin-right: 32px;
}

#filtres > div {
    flex: 0 0 auto;
    max-width: 20%;
    margin-right: 36px;
}