/***
* author : Allan Latruffe
* description : StyleSheet for the Booki's website.
***/

body, html {
    background-color: #ffffff; 
    overflow-x: hidden;
}

/* Create grid */
.container {
    margin-right: auto;
    margin-left: auto;
    margin-top: 0px;
    max-width: 1400px; /* Permet le breakpoint max demandé */
}

.row, .row>div {
    display: flex;
    flex-wrap: wrap;
}

.col-1 {
    width: 8.3333%;
}

.mt-3 {
    margin-top: 36px;
}

.col-2 {
   flex: 0 0 auto;
   width: 16.6666%;
}

.col-3 {
    flex: 0 0 auto;
    width: 24.99%;
}

.col-4 {
    flex: 0 0 auto;
    width: 33.33%;
}

.col-5 {
    flex: 0 0 auto;
    width: 41.65%;
}

.col-6 {
    flex: 0 0 auto;
    width: 50%;
}

.col-7 {
    flex: 0 0 auto;
    width: 58.33%;
}

.col-8 {
    flex: 0 0 auto;
    width: 66.66%;
}

.col-9 {
    flex: 0 0 auto;
    width: 74.99%;
}

.col-10 {
    flex: 0 0 auto;
    width: 83.32%;
}

.col-11 {
    flex: 0 0 auto;
    width: 91.50%;
}

.col-12 {
    flex: 0 0 auto;
    width: 100%;
 }


/* Nav */

nav {
    width: 100%;
}

.list-navigation {
    margin-top: 0px;
    list-style: none;
    padding: 0px !important;
    display: flex; 
    justify-content: flex-end;
}

.element-list {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    text-align: center;

    /* Blue */
    

    padding-top: 46px;
    min-width: 160px;
    border-top: #ffffff00 solid 2px;

    display: flex;
    justify-content: center;
    align-items: center;
} 

.element-list > a {
    text-decoration: none !important;
    color: #000;
}

.element-list:hover > a , .element-list-active > a {
    color: #0065FC !important;
}

.element-list:hover, .element-list-active {
    border-top: #0065FC solid 2px;
}



/* LogoType */

#logoHeader {
    padding-top: 44px;
}

#mainLogo { 
    max-width: 61px;
    height: 19px;
}



/* Font type */

.h1 {
    padding-top: 63px;
    margin:0px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700 !important;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
}

.h2 {
    padding-top: 8px;
    margin: 0px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}
.h3 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
}
.h4 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}
i {
    color: #000;
}


/* Form */

#formSearch {
    margin: 0px;
    padding-top: 20px;
}

#searchBar label{
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    padding: 16px 18px 15px 18px;
    background-color: #F2F2F2;
}


#searchBar input[type="text"] {
    border: 1px solid #F2F2F2;
    border-left: hidden;
    border-right: hidden;
    min-width: 235px;
}

#searchBar input[type="submit"] {
    padding: 14px 16px;
    border-radius: 0px 15px 15px 0px;
    border: 1px solid #0065FC;
    background: #0065FC;
    color: #ffffff;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}

::placeholder , input::placeholder {
    padding-left: 17px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    /* Black */
    color: #000000 !important;
}

/* area filtre */

input[type="checkbox"].input-filtre {
    display: none;
}

input[type="checkbox"].input-filtre + label {
    border: 1px solid transparent;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    padding: 14px 20px;
    min-width: 160px !important;
}


input[type="checkbox"].input-filtre:checked + label , input[type="checkbox"].input-filtre:hover + label   {
    background: #DEEBFF;
}

#search label {
    color: #000;
    text-transform: capitalize;
}
/* Filtre area */
#filtres {
    display: flex;
    flex-wrap: wrap;
}

#filtres label i {
    color: #0065FC;
    margin-right: 10px;
}

#filtreTitles > p {
    margin: 0px;
    display: inline;
}

#filtreTitles {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #000000;
    margin-left: 0px !important;
}

#filtres > div {
    max-width: 20%;
    min-height: 15%;
    margin-right: 18px;
    margin-left: 18px;
    white-space:nowrap;
}

/* INFO AREA */

p {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    color: #000000;
    margin: 0px;
}


.info {
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    margin-right: 11px;
    text-align: center;
    min-width: 24px;
    height: 24px;
    display: inline-flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 2px;
}

.info i{
    justify-content: center;
    display: block;
    color: #0065FC;
}


/* Changemnt de tactique version */

#showResult {
    margin-top: 40px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#mostPopular {
    max-width: 420px;
    width: auto;
}

#searchResult {
    max-width: 840px;  
}


.card-contain {
    background-color: #F2F2F2;
    padding: 40px 40px 10px 40px;
    border-radius: 20px;
    flex-wrap: wrap;
}

.card-group {
    justify-content: space-between;
}

.card {
    background-color: white;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    border-radius: 20px;
    margin-bottom: 30px;
    overflow: hidden;
   
}
.card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.card-title h3 {
    margin: 0px;
}
.card-content {
    justify-content: space-around;
}

.card img {
    object-fit: cover;
    border: 5px solid #FFFFFF;
}

.card-text h4 {
    margin: 0px;
}

.card-text p {
    margin: 10px 0px 10px 0px;
}

.card-note i , .card-title i {
    color: #0065FC;
}

.card-note i:nth-child(5) {
    color: #D9D9D9;
}

.link {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-decoration: none;
    color: #000;
}

#searchResult img {
    width: 250px;
    height: 120px;
    border-radius: 20px 20px 0px 0px;
}

.card-content {
    padding: 5px 25px 10px 15px;
}

#searchResult .card {
    max-width: 260px;
}


#mostPopular img {
    width: 135px;
    height: 145px;
    border-radius: 20px 0px 0px 20px;
}

#mostPopular .card {
    display: flex;
    flex-wrap: nowrap;
    max-width: 343px;
}

#mostPopular .card-content{
    padding-top: 15px;
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
}

#mostPopular .card-text p {
    font-size: 14px;
}

#mostPopular .card-text h4 {
    font-size: 16px;
}


/* Area Activity */ 

#activite {
    background-color: #FFFFFF;
    margin-top: 40px;
    padding: 0px;
}

#activite .card-group {
    display: flex;
    margin-top: 20px ;
    flex-direction: row;
}
#activite .card {
    max-width: 304px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

#activite .card img {
    border: none;
    width: 304px;
    height: 389px;
}

#activite .card .card-content {
    padding-top: 20px;
    padding-bottom: 20px;
}

#activite .card .card-content h4 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

/* Footer  */

footer {
    background-color: #F2F2F2;
    padding: 45px 70px;
    margin-top: 40px;
}

footer .row > div.col-4 {
    display: block;
}

footer ul {
    list-style-type: none;
    padding-inline-start: 0px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

footer li {
    padding-top: 6px;
    padding-bottom: 6px;
}

footer h3 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    text-transform: capitalize;
}

footer a {
    text-decoration: none;
    color: #000000;
}