/* Feuille de style pour booki */

body, html {
    background-color: #ffffff;
    overflow-x: none !important;
}

/* Add font */

@font-face {
    font-family: "Raleway";
    src: url("/assets/font/Raleway/Raleway-VariableFont_wght.ttf") format("truetype"),
         url("/assets/font/Raleway/Raleway-Italic-VariableFont_wght.ttf") format("truetype");
  }

/* Create grid */
.container {
    margin-right: auto;
    margin-left: auto;
    max-width: 1400px; /* Permet le breakpoint max demandé */
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-1 {
    width: 8.3333%;
}

.col-2 {
   flex: 0 0 auto;
   width: 16.6666%;
}

.col-3 {
    flex: 0 0 auto;
    width: 24.99%;
}

.col-4 {
    flex: 0 0 auto;
    width: 33.33%;
}

.col-5 {
    flex: 0 0 auto;
    width: 41.65%;
}

.col-6 {
    flex: 0 0 auto;
    width: 50%;
}

.col-7 {
    flex: 0 0 auto;
    width: 58.33;
}

.col-8 {
    flex: 0 0 auto;
    width: 66.66%;
}

.col-9 {
    flex: 0 0 auto;
    width: 74.99%;
}

.col-10 {
    flex: 0 0 auto;
    width: 83.32%;
}

.col-11 {
    flex: 0 0 auto;
    width: 91,5%;
}

.col-12 {
    flex: 0 0 auto;
    width: 100%;
 }


/* Nav */

nav {
    width: 100%;
    justify-content: center;
}

.listNavigation {
    list-style: none;
    padding: 0px !important;
}



.elementList {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    text-align: center;

    /* Blue */
    color: #0065FC;
    display: inline-block;
} 

.elementList > a {
    text-decoration: none !important;
}